/* Styles for the Art Store container */
.art-store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Styles for each artwork item */
.artwork-item {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(186, 91, 91, 0.842);
    text-align: center;
}

/* Styles for artwork images */
.artwork-item img {
    max-width: 80%;
    border-radius: 5px;
}
/* Navbar styles */
.navbarrr {
  background-color: #464346; /* Change this to your desired background color */
  color: rgb(239, 241, 235); /* Change this to your desired text color */
  padding: 80px 0; /* Increase the padding to make the navbar larger */
  text-align: center;
}
  
  /* Logo styles */
  .logooo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Logo image styles */
  .logo img {
    max-height: 10px; /* Change this to your desired image height */
    margin-right: 50px; /* Adjust as needed */
  }
  
  /* Logo text styles */
  .art-hive {
    font-size: 24px; /* Change this to your desired font size */
    font-weight: bold; /* Optionally add font weight */
  }