/* FrontPage.css */

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
  cursor: pointer;
}

/* Logo Styles */
.logo-image {
  width: 100px;
}

/* Hero Section Styles */
.hero-container {
  background-color: #eda9a9;
  text-align: center;
  padding: 0; /* Remove padding to make it full screen */
  position: relative; /* Add this to make positioning of hero text relative to hero-container */
}

.hero-image {
  width: 100%;
  height: 70vh; /* Set the height to take up the full viewport height */
  object-fit: cover; /* Ensure the image covers the entire space */
}

.hero-text {
  position: absolute;
  top: 20%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both vertically and horizontally */
  color: #fff; /* Set text color */
}

.hero-text h1 {
  font-size: 2rem;
  margin: 0;
}

.hero-text p {
  font-size: 1rem;
}

/* Card Styles */
.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  max-height: 170px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card h3 {
  font-size: 5rem;
  margin: 0;
}

.card p {
  font-size: 0.8rem;
}

